@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

html, body {
    height: 100%;
}

 body {
    color: white;
    background-color: darkgrey;
    background-image: url(direito-pin.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

header {
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 50px;
    color: rgba(255, 153, 0, 0.514);
    text-shadow: 1px 1px;
    
}

nav {
    background-color: rgba(255, 228, 196, 0.043);
    padding: 10px;
    text-align: center;
    box-shadow: opx 6px 6px rgba(0, 0, 0, 0.224);
    
}

nav a {
    color: rgba(255, 153, 0, 0.514);;
    display: block;
    text-decoration: none;
    padding: 20px;
    font-weight: bolder;
    border-radius: 4px;
    
}

    



main p {
   padding: 40px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-variant-caps: small-caps;
   color: #f7ef525e;
 
}



