@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

 body {
    color: white;
    min-height: 98vh;
    background-color: darkgrey;
    background-image: url(direito-pin.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

header {
    text-align: center;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    text-align: center;
    font-size: 3em;   
}
article {
    text-align: center;
    
}


